<div class="container">
    <h2>Settings</h2>
    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <span><i class="material-icons">wifi</i></span>
                    <a class="nav-link active" data-toggle="tab" href="#hosts-tab" role="tab">Hosts</a>
                </li>
                <li class="nav-item">
                    <span><i class="material-icons">notifications</i></span
                    ><a class="nav-link" data-toggle="tab" href="#alerts-tab" role="tab">Alerts</a>
                </li>
                <li class="nav-item">
                    <span><i class="material-icons">toc</i></span
                    ><a class="nav-link" data-toggle="tab" href="#misc-tab" role="tab">Misc</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="hosts-tab" role="tabpanel">
            <div class="card-deck">
                <div class="card" id="add-hosts">
                    <div class="card-body">
                        <h4 class="card-title"><i class="material-icons">add</i><span>Add hosts</span></h4>
                        <div class="card-text form-group">
                            <textarea
                                class="form-control"
                                rows="auto"
                                cols="100"
                                [(ngModel)]="newHosts"
                                placeholder="Please add your host, each host in a separate line"
                            ></textarea>
                        </div>
                        <div class="form-group float-right">
                            <a id="add-btn" class="btn btn-success text-white" role="button" (click)="add()">Add</a>
                            <a id="clear-btn" class="btn btn-default text-white" role="button" (click)="clear()">Clear</a>
                        </div>
                    </div>
                </div>
                <div class="card" id="tracked-hosts">
                    <div class="card-body">
                        <h4 class="card-title"><i class="material-icons">autorenew</i><span>Tracked hosts</span></h4>
                        <div class="card-text">
                            <div id="no-hosts" *ngIf="(ping.Hosts | async).length === 0">
                                <div><i class="material-icons" style="font-size: 50px;">not_interested</i></div>
                                <div>No hosts.</div>
                            </div>

                            <ul *ngIf="(ping.Hosts | async).length > 0">
                                <li *ngFor="let host of (ping.Hosts | async)">
                                    <span class="float-left"> {{ host.name }} </span>
                                    <span class="float-right">
                                        <i class="material-icons clickable-icon delete-icon" (click)="delete(host)">delete</i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="alerts-tab" role="tabpanel"></div>
        <div class="tab-pane" id="misc-tab" role="tabpanel">
            <div class="form-group">
                <label class="font-weight-bold">Time interval</label>
                <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="settings.timeInterval"
                    class="form-control"
                    aria-describedby="helpId"
                    placeholder="Recent time for charts"
                />
                <small id="helpId" class="form-text text-muted">Enter the amount of minutes the charts will be updated to.</small>
            </div>
        </div>
    </div>
</div>
